{erl_opts, [
    debug_info,
    {src_dirs, ["src", "test"]}
]}.

{deps, [
    {etest,          "", {git, "https://github.com/wooga/etest.git", {branch, "master"}}}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/odo/timed_buffer">>},
          {extras, [<<"LICENSE">>]},
          {main, <<"Readme.md">>}
]}.
